<div [ngClass]="{'isLoading': loading}" class="wrapper-video">
    <video [srcObject]="localStream" id="video" #video autoplay muted></video>
    <div #canvas class="video-player__canvas"></div>
    <ng-container *ngIf="loading">
      <span class="loading-msg">Cargando video por favor espere</span>
    </ng-container>
</div>
<div *ngFor="let face of recognitions" class="face-recognition">
  <span class="face-recognition-message">{{face?.msg}}</span>
</div>
<div id="recording"></div>

<canvas #capture style="display: none"></canvas>
