<div class="app-body flow-login">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card-group">
                        <div class="card p-0 p-md-4">
                            <div class="card-body">
                                <!-- DEBO TENER EL ID Y ENVIARLO CON EL CODIGO QUE ESCRIBO DEL INPUT -->
                                <h3>Código de verificación</h3>
                                <p class="mb-4">
                                    Introduce el codigo que obtendras a traves de Google Authenticator para acceder a tu cuenta.
                                </p>
                                <form #verificationCodeForm="ngForm" (ngSubmit)="onSubmit()" class="w-100">
                                    <div class="input-group mb-3">
                                        <label for="#">Código de verificación</label>
                                        <input type="text" class="form-control w-100" placeholder="Escribe el codigo" #token_secret="ngModel" name="token_secret" [(ngModel)]="formulario.token_secret" required />
                                    </div>
                                    <div class="">
                                        <input type="submit" class="btn btn-primary w-100" value="Acceder a mi cuenta" />
                                    </div>
                                    <alert type="danger mt-4" *ngIf="errorMessage">
                                        <strong>¡Hubo un error!</strong> El código introducido no es correcto.
                                    </alert>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
