<section class="principal" *ngIf="identity">
    <h1 class="mb-3">Notificaciones</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <ng-container>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Cámara</th>
                                        <th>Edad</th>
                                        <th>Género</th>
                                        <th>Expresión facial</th>
                                        <th>Fecha y Hora</th>
                                        <th style="text-align: center;">Estatus</th>
                                        <th style="text-align: center;">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let notification of notifications | paginate: { itemsPerPage: 10, currentPage: page, totalItems: notifications?.length }; let i=index">
                                        <td>
                                            <div style="width: 100px;height: 100px; border-radius: 10px; background-size: cover; background-position: center;" style="background-image: url('{{imageFile(notification?.file)}}');">

                                            </div>
                                        </td>
                                        <td>{{selectedCameraName(notification?.camera)}}</td>
                                        <td>{{notification?.age}} años</td>
                                        <td>{{notification?.gender | titlecase}}</td>
                                        <td>{{notification?.facialExpression || 'No detectable'}}</td>
                                        <td>{{prettyDate(notification?.hour)}}</td>
                                        <td style="text-align: center;">
                                            <i class="fa fa-{{notification?.seen ? 'check-circle' : 'exclamation-circle'}} fa-lg" [ngStyle]="{'color': notification?.seen ? '#3EA662' : '#5294E2'}" [title]="notification?.seen ? 'Vista' : 'Nueva'"></i></td>
                                        <td style="text-align: center;">
                                            <button (click)="downloadImage(imageFile(notification?.file), notification?.file)" class="btn btn-success botones">
                                                <i class="fa fa-download fa-lg"></i> Descargar
                                            </button>
                                            <button (click)="openNotification(OpenUser, notification)" class="btn btn-primary botones">
                                                <i class="fa fa-picture-o fa-lg"></i> Ver
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="pagination-container"><pagination-controls
                            (pageChange)="page = $event"
                            autoHide="true"
                            maxSize="5"
                            responsive="true"
                            previousLabel="Anterior"
                            nextLabel="Siguiente"></pagination-controls></div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #OpenUser>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Se ha detectado una persona desconocida</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="d-flex mb-2 justify-content-between">
            <b>{{prettyDate(recording?.hour)}}</b>
            <b><i style="color: #5294E2;" class="fa fa-map-marker fa-lg"></i> {{selectedCameraName(recording?.camera)}}</b>
        </div>
        <div class="bg-foto-screenshot" style="background-image: url('{{imageFile(recording?.file)}}');"></div>
        <h5>Caracteristicas</h5>
        <div class="row">
            <div class="col-6 col-md-4">
                <p><strong>Sexo:</strong> {{recording?.gender | titlecase}}</p>
            </div>
            <div class="col-6 col-md-4">
                <p><strong>Edad:</strong> {{recording?.age}} años</p>
            </div>
            <div class="col-6 col-md-4">
                <p><strong>Expresión facial:</strong> {{recording?.facialExpression || 'No detectable'}}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" aria-label="Close" (click)="modalRef.hide()">Ignorar</button>
        <button type="button" class="btn btn-primary" aria-label="Close" (click)="modalRef.hide()">Añadir a niveles de confianza</button>
     </div>
</ng-template>