<section class="principal" *ngIf="identity">
    <h1 class="mb-3">Notificaciones</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead *ngIf="notifications && notifications?.length > 0">
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Rostro</th>
                                        <th>Nivel de Confianza</th>
                                        <th>Cámara</th>
                                        <th>Fecha y Hora</th>
                                        <th style="text-align: center;">Estatus</th>
                                        <th style="text-align: center;">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <ng-container *ngIf="!notifications">
                                    <span class="no-text-msg">Cargando notificaciones por favor espere.</span>
                                  </ng-container>
                                  <ng-container *ngIf="notifications && notifications?.length === 0">
                                    <span class="no-text-msg">No hay notificaciones disponibles para el usuario.</span>
                                  </ng-container>
                                  <ng-container *ngIf="notifications && notifications?.length > 0">
                                    <tr *ngFor="let notification of notifications | paginate: { itemsPerPage: 10, currentPage: page, totalItems: notifications?.length }; let i=index" [ngStyle]="{'background-color': confidenceLevelText(notification?.face?.confidenceLevels) === 'Nivel 4' ? '#ff0000' : '#ffffff'}">
                                        <td>
                                            <div style="width: 100px;height: 100px; border-radius: 10px; background-size: cover; background-position: center;" style="background-image: url('{{imageFile(notification?.image)}}');">

                                            </div>
                                        </td>
                                        <td>{{notification?.face?.name ? (notification?.face?.name+ ' ' + notification?.face?.surname) : 'Desconocido' }}</td>
                                        <td>{{confidenceLevelText(notification?.face?.confidenceLevels) || 'Desconocido' }}</td>
                                        <td>{{selectedCameraName(notification?.camera)}}</td>
                                        <td>{{prettyDate(notification?.hour)}}</td>
                                        <td style="text-align: center;">
                                            <i class="fa fa-{{notification?.seen ? 'check-circle' : 'exclamation-circle'}} fa-lg" [ngStyle]="{'color': notification?.seen ? '#3EA662' : '#5294E2'}" [title]="notification?.seen ? 'Vista' : 'Nueva'"></i></td>
                                        <td style="text-align: center;">
                                            <button (click)="downloadImage(imageFile(notification?.image), notification?.image)" class="btn btn-success botones">
                                                <i class="fa fa-download fa-lg"></i> Descargar
                                            </button>
                                            <button (click)="openNotification(OpenUser, notification)" class="btn btn-primary botones">
                                                <i class="fa fa-picture-o fa-lg"></i> Ver
                                            </button>
                                        </td>
                                    </tr>
                                  </ng-container>
                                </tbody>
                            </table>
                        </div>

                        <div class="pagination-container"><pagination-controls
                            (pageChange)="page = $event"
                            autoHide="true"
                            maxSize="5"
                            responsive="true"
                            previousLabel="Anterior"
                            nextLabel="Siguiente"></pagination-controls></div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #OpenUser>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{recording?.face?.name ? (recording?.face?.name+ ' ' + recording?.face?.surname) : 'Un rostro nuevo desconocido'}} ha sido detectado</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="d-flex mb-2 justify-content-between">
            <b>{{prettyDate(recording?.hour)}}</b>
            <b><i style="color: #5294E2;" class="fa fa-map-marker fa-lg"></i> {{selectedCameraName(recording?.camera)}}</b>
        </div>
        <div class="bg-foto-screenshot" style="background-image: url('{{imageFile(recording?.image)}}');"></div>
        <h5>Caracteristicas</h5>
        <div class="row">
            <div class="col-6 col-md-4">
                <p><strong>Sexo:</strong> {{(recording?.face?.gender || recording?.gender) | titlecase}}</p>
            </div>
            <div class="col-6 col-md-4">
                <p><strong>Edad:</strong> {{recording?.face?.age || recording?.age}} años</p>
            </div>
            <div class="col-6 col-md-4">
                <p><strong>Expresión facial:</strong> {{recording?.facialExpression || 'No detectable'}}</p>
            </div>
        </div>
        <ng-container *ngIf="!recording?.face?.unknown">
          <h5>Datos del Rostro</h5>
          <div class="row">
              <div class="col-6 col-md-4">
                  <p><strong>Nombre:</strong> {{recording?.face?.name}}</p>
              </div>
              <div class="col-6 col-md-4">
                  <p><strong>Apellido:</strong> {{recording?.face?.surname}}</p>
              </div>
              <div class="col-6 col-md-4">
                  <p><strong>Nivel de confianza:</strong> {{confidenceLevelText(recording?.face?.confidenceLevels) || 'Desconocido'}}</p>
              </div>
          </div>
        </ng-container>
    </div>

    <div *ngIf="recording?.face?.unknown" class="d-flex">
      <div class="col-sm-6">
         <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" #name="ngModel" name="name" [(ngModel)]="face.name" required />
         </div>
      </div>
      <div class="col-sm-6">
         <div class="form-group">
            <label for="name">Apellido</label>
            <input type="text" class="form-control" #surname="ngModel" name="surname" [(ngModel)]="face.surname" required />
         </div>
      </div>
   </div>
   <div *ngIf="recording?.face?.unknown" class="d-flex">
      <div class="col-sm-12">
         <label for="confidenceLevels">Niveles de confianza</label>
         <select class="form-control" name="confidenceLevels" [(ngModel)]="face.confidenceLevels">
           <option class="placeholder" [value]="null" disabled>
              Seleccione
           </option>
           <option
           *ngFor="let level of confidenceLevels; let i = index"
           [value]="level._id"
           >
           {{ level.title }}
           </option>
         </select>
      </div>
   </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" aria-label="Close" (click)="modalRef.hide()">Ignorar</button>
        <button *ngIf="recording?.face?.unknown" type="button" class="btn btn-primary" aria-label="Close" (click)="addToConfidenceLevels()">Añadir a niveles de confianza</button>
     </div>
</ng-template>
