<section class="principal">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mb-3">Grabación en vivo</h1>
            <ul class="pasos-code">
                <li>
                    Coloque el dispositivo de cámara cerca de los objetos de interés (1-2 metros) para asegurar que el reconocimiento facial funcione.
                </li>
            </ul>
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <div class="card">
                <div class="card-body" align="center">
                    <app-app-video-player [stream]="user" *ngFor="let user of listUser"></app-app-video-player>
                    <div class="row mt-3">
                        <div class="col-md-6 mb-3">
                            <button class="btn btn-primary w-100">Iniciar grabación</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary w-100 disabled" disabled>
                Detener grabación
              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12">
                            <h2>Funcionalidades</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">Nombre de la cámara</label>
                                    <input type="text" placeholder="Ej: Cocina de la casa" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="mb-3">
                                    Cámara: {{ changeStatus ? "Frontal" : "Trasera" }}
                                </h5>
                                <button class="btn btn-primary w-100 mb-3 mb-md-0" (click)="changeStatus()">
                  Girar cámara <i class="icon-refresh icons font-2xl"></i>
                </button>
                            </div>
                            <div class="col-md-6">
                                <h5 class="mb-3">Resolución</h5>
                                <select name="" id="" class="form-control">
                  <option value="">Baja</option>
                  <option value="">Media</option>
                  <option value="">Alta</option>
                </select>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <button class="btn btn-success w-100">
                  Guardar configuración
                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>