<section class="principal">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="mb-3">Grabación en vivo</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div class="card">
        <div class="card-body">
          <div class="camera-live"></div>
          <div class="funciones-basicas">
            <div class="row">
              <div class="col-6 col-sm-4">
                <button class="btn btn-primary w-100">Iniciar</button>
              </div>
              <div class="col-6 col-sm-4">
                <button class="btn btn-primary w-100 disabled" disabled>
                  Detener
                </button>
              </div>
              <div class="col-12 col-sm-4">
                <button
                  class="btn btn-primary w-100 download disabled"
                  disabled
                >
                  Descargar video
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-12">
              <h2>Funcionalidades</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <h5 class="mb-3">Cámara: Frontal</h5>
              <button class="btn btn-primary w-100">
                Girar cámara
                <i class="icon-refresh icons font-2xl"></i>
              </button>
            </div>
            <div class="col-sm-6">
              <h5 class="mb-3">Resolución: Baja</h5>
              <button class="btn btn-primary w-100">
                Cambiar resolución
                <i class="icon-settings icons font-2xl"></i>
              </button>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-6">
              <h5 class="mb-3">Capturas de imagénes</h5>
              <button class="btn btn-primary w-100">
                Tomar fotografía
                <i class="icon-picture icons font-2xl"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
