<section class="principal">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mb-3">Cámaras compartidas conmigo</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a routerLink="/camera/camera-details">
                <div class="card">
                    <div class="card-header">
                        <h2>Sala</h2>
                    </div>
                    <div class="card-body">
                        <div class="camera-preview"></div>
                        <div class="row">
                            <div class="col-12">
                                <h5 class="d-inline">Colaborador de: Alexander De Azevedo</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>