<section class="principal">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="mb-3">Detalle de la cámara</h1>
        </div>
    </div>
    <div *ngIf="camera" class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2>{{camera?.cameraId?.name}}</h2>
                </div>
                <div class="card-body" style="min-height: 500px;">
                  <ng-container *ngIf="!stream">
                    <span class="loading-msg">Cargando video por favor espere</span>
                  </ng-container>
                    <video *ngIf="stream" id="video" #video [srcObject]="stream" width="100%" height="400" autoplay muted>
                        Your browser does not support the video tag.
                      </video>
                </div>
            </div>
        </div>
    </div>
</section>

