<section class="principal">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mb-3">Grabación en vivo</h1>
            <p>1. Antes de iniciar la grabación, por favor añada un nombre a la cámara de vigilancia.</p>
            <p>2. Coloque el dispositivo de cámara cerca de los objetos de interés (1-2 metros) para asegurar que el reconocimiento facial funcione.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body" align="center">
                    <ng-container *ngIf="!recording">
                        <div class="camara-background">
                            <div class="">
                                <i class="icon-camera icons d-block mb-2" style="font-size: 3rem; color: #686868;"></i>
                            </div>

                        </div>
                    </ng-container>
                    <ng-container *ngIf="recording">
                        <app-app-video-player #player [stream]="user" [cameraId]="idCamera" *ngFor="let user of listUser"></app-app-video-player>
                    </ng-container>
                    <div class="row mt-3">
                        <div class="col-md-6 mb-3">
                            <button class="btn btn-primary w-100" [ngClass]="{
                                'disabled': recording
                            }" (click)="record(true)" [disabled]="recording">Iniciar grabación</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary w-100" [ngClass]="{
                                'disabled': !recording
                            }" (click)="record(false)" [disabled]="!recording">
                                Detener grabación
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body" align="center">
                    <p *ngIf="camera.name" class="mb-0">Nombre de la cámara: {{camera.name}}</p>
                    <button  *ngIf="!camera.name" class="btn btn-primary w-100 mb-3" (click)="showModal()">Nombre de cámara</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Nueva cámara</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="hideModal()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <form #newCameraForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="name">Nombre de la cámara</label>
                            <input type="text" placeholder="Ej: Cocina de la casa" class="form-control" #name="ngModel" name="name" [(ngModel)]="camera.name" required/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Guardar" />
            </div>
        </form>
    </div>
  </div>
</div>



<ng-template #OpenUser>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Se ha detectado una persona desconocida</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="bg-foto-screenshot" style="background-image: url('https://img.freepik.com/foto-gratis/retrato-mujer-caucasica-sonriendo_53876-24998.jpg?size=626&ext=jpg');"></div>
        <h5>Caracteristicas</h5>
        <div class="row">
            <div class="col-6 col-md-4">
                <p><strong>Sexo:</strong> Femenino</p>
            </div>
            <div class="col-6 col-md-4">
                <p><strong>Edad:</strong> 25 años</p>
            </div>
            <div class="col-6 col-md-4">
                <p><strong>Expresión facial:</strong> Feliz</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-warning" value="Ignorar" />
        <input type="submit" class="btn btn-primary" value="Añadir a niveles de confianza" />
     </div>
</ng-template>
