<section class="principal">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="mb-3">Listado de cámaras</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <a routerLink="/camera/camera-details">
        <div class="card">
          <div class="card-header">
            <h2>Cocina</h2>
          </div>
          <div class="card-body">
            <div class="camera-preview"></div>
            <div class="row">
              <div class="col-3">
                <i class="icon-user icons font-2xl mt-3 mr-2"></i>
                <h5 class="d-inline">5</h5>
              </div>
              <div class="col-4">
                <i class="icon-settings icons font-2xl mt-3 mr-2"></i>
                <h5 class="d-inline">Baja</h5>
              </div>

              <div class="col-5">
                <i class="icon-camera icons font-2xl mt-3 mr-2"></i>
                <h5 class="d-inline">Frontal</h5>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
