<section class="principal">
    <div class="row mb-4">
        <div class="col-md-6">
            <h1 class="mb-3">Mis cámaras en vivo</h1>
        </div>
        <div class="col-md-6">
            <div class="text-right">
                <button class="btn btn-primary botones" (click)="openModal(template)">
          Agregar colaboradores
        </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nombre de la cámara</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><button routerLink="/camera/camera-details" style="font-weight: bold; color: #3f51b5;">Cocina</button></td>
                                </tr>
                                <tr>
                                    <td><button routerLink="/camera/camera-details" style="font-weight: bold; color: #3f51b5;">Sala</button></td>
                                </tr>
                                <tr>
                                    <td><button routerLink="/camera/camera-details" style="font-weight: bold; color: #3f51b5;">Baño</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <ng-container *ngIf="tableSize">
                        <pagination [totalItems]="30"></pagination>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Agregar colaboradores</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>

    <div class="modal-body">
        <form #cameraForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Apellido</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="name">Correo electrónico</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-12">
                    <input type="submit" class="btn btn-primary w-100" value="Agregar" />
                </div>
            </div>
        </form>
        <div class="mt-4">
            <h5>Colaboradores invitados</h5>

            <div class="table-responsive">
                <table class="table table-striped mt-4">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Correo electrónico</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>alexander_deazevedo@gmail.com</td>
                            <td>
                                <button class="btn btn-danger">
                  <i class="fa fa-trash-o fa-lg"></i>
                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>oralyrodriguez7@gmail.com</td>
                            <td>
                                <button class="btn btn-danger">
                  <i class="fa fa-trash-o fa-lg"></i>
                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>maurovolpe@gmail.com</td>
                            <td>
                                <button class="btn btn-danger">
                  <i class="fa fa-trash-o fa-lg"></i>
                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>