<div *ngIf="!sent" class="app-body flow-login">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card">
              <div class="card-body p-4">
                <form>
                  <div class="text-center">
                    <h1>Recupera tu contraseña</h1>
                    <p class="text-muted">
                      Indícanos tu correo electrónico y te enviaremos un
                      enlace de verificación
                    </p>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">@</span>
                        </div>
                        <input
                        [(ngModel)]="user.email"
                        [ngModelOptions]="{standalone: true}"
                          type="text"
                          class="form-control"
                          placeholder="Correo electrónico"
                          required
                        />
                      </div>
                      <button
                        type="button"
                        class="btn btn-block btn-primary" (click)="submit()"
                      >Recuperar contraseña
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div *ngIf="sent">
    <div class="d-flex" style="align-items: center; justify-content: center; height: 100vh;">
        <div class="pr-4 pl-4">
            <div class="text-center">
                <h1 class="">Recuperar contraseña</h1>
                <!-- <p>Enviamos a tu correo electrónico un enlace para recuperar la contraseña</p> -->
            </div>
            <img src="../../../assets/img/email-image.png" alt="" class="mx-auto d-block" style="width: 250px;">
            <p class="text-center mt-3 mb-3">Te hemos enviado un correo electrónico con un enlace para recuperar tu contraseña a la siguiente dirección de correo: {{user?.email}}. <br> Si no recibiste el correo electrónico despues de unos minutos, por favor revisar tu bandeja de spam.</p>
            <!-- <button class="btn btn-primary mx-auto d-block">Reenviar correo</button> -->
        </div>
    </div>
</div>
