<div class="">
    <div class="d-flex" style="align-items: center; justify-content: center; height: 100vh;">
        <div class="pr-4 pl-4">
            <div class="text-center">
                <h1 class="">Verificar correo electrónico</h1>
                <p>Necesitamos validar tu correo electrónico para completar tu registro</p>
            </div>
            <img src="../../../assets/img/email-image.png" alt="" class="mx-auto d-block" style="width: 250px;">
            <p class="text-center mt-3 mb-3">Te hemos enviado un correo electrónico con un enlace para verificar tu cuenta. <br> Si no recibiste el correo electrónico despues de unos minutos, por favor revisar tu bandeja de spam.</p>
            <button class="btn btn-primary mx-auto d-block">Reenviar correo</button>
        </div>
        
    </div>


</div>