<div class="">
    <div class="d-flex" style="align-items: center; justify-content: center; height: 100vh;">
        <div class="pr-4 pl-4">
            <img src="../../../assets/img/success.png" alt="" class="mx-auto d-block" style="width: 250px;">
            <div class="text-center">
                <h1 class="my-5 ">Su cuenta ha sido verificada exitosamente</h1>
            </div>
            <button class="btn btn-primary mx-auto d-block" type="button" [routerLink]="'/your-code'">Siguiente</button>
        </div>
    </div>
</div>
