<div class="animated fadeIn pt-4">
    <h1 class="mb-3">Reportes del sistema</h1>
    <div class="card">
        <div class="card-body">
            <!-- <form action=""> -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="name">Selecciona la cámara</label>
                            <select class="form-control" [(ngModel)]="selectedCamera">
                              <option [value]="null">{{'Seleccione una cámara'}}</option>
                              <option *ngFor="let camera of cameras" [value]="camera?._id">{{camera?.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="name">Selecciona rango de fechas y hora</label>
                            <input type="text"
                                placeholder="Daterangepicker"
                                class="form-control"
                                [bsConfig]="{withTimepicker: true, rangeInputFormat : 'MMMM Do YYYY, h:mm:ss a', dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}"
                                [(ngModel)]="selectedRange"
                                bsDaterangepicker>
                                <timepicker name="fieldName" ngDefaultControl></timepicker>
                                <!-- <pre class="alert alert-info">Time is: {{time}}</pre> -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group"></div>
                        <button (click)="getFacesByCameraAndDate()" [disabled]="!selectedRange || !selectedCamera" class="btn btn-primary w-100" style="margin-top: 14px">
              Generar Reporte
            </button>
                    </div>
                </div>
            <!-- </form> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Si se genera un reporte mostrar esta vista-->
            <div class="card">
                <div class="card-body">
                  <ng-container *ngIf="!reportsbyDate">
                    <span class="no-text-msg">Seleccione una cámara, un rango de fechas y presione en <span style="color: #1B8EB7;">"Generar Reporte"</span> para verlos reportes asociados.</span>
                  </ng-container>
                  <ng-container *ngIf="reportsbyDate && reportsbyDate?.length === 0">
                    <span class="no-text-msg">No existe data disponible para este reporte personalizado del {{dateRange?.to}} al {{dateRange?.from}} por favor ingrese diferentes parámetros.</span>
                  </ng-container>
                  <ng-container *ngIf="reportsbyDate && reportsbyDate?.length > 0">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>
                                Reporte personalizado del 10/11/2021 al 14/11/2021 en cámara "Cocina"
                            </h5>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped mt-4">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre y apellido</th>
                                    <th scope="col">Nivel de confianza</th>
                                    <th scope="col">Edad</th>
                                    <th scope="col">Sexo</th>
                                </tr>
                            </thead>
                            <tbody>
                                  <tr *ngFor="let face of reportsbyDate; let i=index">
                                      <th scope="row">{{ index + 1 }}</th>
                                      <td>
                                          <div style="display: flex; align-items: center">
                                              <div class="circle-image mr-2" style="
                            background-image: url('https://image.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg');
                          "></div>
                                              {{face?.face?.name}} {{face?.face?.surname}}
                                          </div>
                                      </td>
                                      <td>Nivel {{face?.face?.confidenceLevels?.level}} 2</td>
                                      <td>{{face?.face?.age}} años</td>
                                      <td>{{face?.face?.gender}}</td>
                                  </tr>
                            </tbody>
                        </table>
                    </div>
                  </ng-container>
                </div>
            </div>
            <!-- Si NO se genera un reporte mostrar esta vista-->
            <!--
           <div class="card">
               <div class="card-body text-center">
                   <h5>No hay información a mostrar, genera un reporte.</h5>
               </div>
           </div>
           -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Si se genera un reporte mostrar esta vista-->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Reporte de frecuencia {{report?.name}}</h5>
                        </div>
                        <div class="col-md-6">
                            <div class="col-form-label radiobuttons-dashboard">
                                <div id="inline-radios" class="form-check form-check-inline mr-2 block-mobile">
                                    <input type="radio" name="inline-radios" id="inlineRadio1" value="daily" class="form-check-input" [(ngModel)]="selectedFrequencyReport" /><label for="inlineRadio1" class="form-check-label">Reporte diario</label
                  >
                </div>
                <div class="form-check form-check-inline mr-2 block-mobile">
                  <input
                    type="radio"
                    name="inline-radios"
                    id="inlineRadio2"
                    value="weekly" [(ngModel)]="selectedFrequencyReport"
                    class="form-check-input"
                  /><label for="inlineRadio2" class="form-check-label"
                    >Reporte semanal</label
                  >
                </div>
                <div class="form-check form-check-inline mr-1 block-mobile">
                  <input
                    type="radio"
                    name="inline-radios"
                    id="inlineRadio3"
                    value="monthly" [(ngModel)]="selectedFrequencyReport"
                    class="form-check-input"
                  /><label for="inlineRadio3" class="form-check-label"
                    >Reporte mensual</label
                  >
                </div>
              </div>
            </div>
          </div>
          <ng-container *ngIf="report?.list && report?.list?.length === 0">
            <span class="no-text-msg">No existe data disponible para el reporte de frecuencia <span style="color: #1B8EB7;">{{report?.name}}</span>, puede intentar con otra frecuencia.</span>
          </ng-container>
          <ng-container *ngIf="report?.list && report?.list?.length > 0">
            <div class="table-responsive">
              <table class="table table-striped mt-4">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre y apellido</th>
                    <th scope="col">Nivel de confianza</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Sexo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let face of report?.list; let i=index">
                      <th scope="row">{{ index + 1 }}</th>
                      <td>
                          <div style="display: flex; align-items: center">
                              <div class="circle-image mr-2" style="
            background-image: url('https://image.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg');
          "></div>
                              {{face?.face?.name}} {{face?.face?.surname}}
                          </div>
                      </td>
                      <td>Nivel {{face?.face?.confidenceLevels?.level}} 2</td>
                      <td>{{face?.face?.age}} años</td>
                      <td>{{face?.face?.gender}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
          <ul *ngIf="report?.list && report?.list?.length > 0" class="pagination">
            <li class="page-item">
              <a href="#" class="page-link">Anterior</a>
            </li>
            <li class="page-item active">
              <a href="#" class="page-link">1</a>
            </li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">4</a></li>
            <li class="page-item">
              <a href="#" class="page-link">Siguiente</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Si NO se genera un reporte mostrar esta vista-->
      <!--
           <div class="card">
               <div class="card-body text-center">
                   <h5>No hay información a mostrar, genera un reporte.</h5>
               </div>
           </div>
           -->
    </div>
  </div>
</div>

 <!-- AGREGAR USUARIO-->
 <ng-template #AddUser>
  <div class="modal-header">
     <h4 class="modal-title pull-left">Agregar usuario</h4>
     <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
     <span aria-hidden="true">&times;</span>
     </button>
  </div>
  <form #AddUserForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
     <ng-container *ngIf="niveles && niveles.length">
        <div class="row">
           <div class="col-sm-6">
              <div class="form-group">
                 <label for="name">Nombre</label>
                 <input type="text" class="form-control" #name="ngModel" name="name" [(ngModel)]="face.name" required />
              </div>
           </div>
           <div class="col-sm-6">
              <div class="form-group">
                 <label for="name">Apellido</label>
                 <input type="text" class="form-control" #surname="ngModel" name="surname" [(ngModel)]="face.surname" required />
              </div>
           </div>
        </div>
        <div class="row">
           <div class="col-sm-6">
              <div class="form-group">
                 <label for="name">Edad</label>
                 <input type="text" class="form-control" #age="ngModel" name="age" [(ngModel)]="face.age" required />
              </div>
           </div>
           <div class="col-sm-6">
              <div class="form-group">
                 <label for="name">Sexo</label>
              </div>
              <div class="mb-2 form-check form-check-inline">
                 <input class="form-check-input" type="radio" #gender="ngModel" name="gender" [(ngModel)]="face.gender" id="masculino" value="Masculino" required checked />
                 <label class="form-check-label" for="masculino">Masculino</label>
              </div>
              <div class="mb-2 form-check form-check-inline">
                 <input class="form-check-input" type="radio" #gender="ngModel" name="gender" [(ngModel)]="face.gender" id="femenino" value="Femenino" />
                 <label class="form-check-label" for="femenino">Femenino</label>
              </div>
           </div>
        </div>
        <div class="row">
           <div class="col-sm-12">
              <label for="confidenceLevels">Niveles de confianza</label>
              <select class="form-control" #confidenceLevels="ngModel" name="confidenceLevels" [(ngModel)]="face.confidenceLevels">
              <option class="placeholder" [value]="null" disabled>
                 Seleccione
              </option>
              <option
              *ngFor="let confidence of niveles; let i = index"
              [value]="confidence._id"
              >
              {{ confidence.title }}
              </option>
              </select>
           </div>
        </div>
        <div class="row">
           <div class="col-sm-12">
              <div class="form-group row">
                 <label class="col-md-12 col-form-label" for="file-input">Retrato del usuario</label
                    >
                 <div class="col-md-12">
                    <input
                       type="file"
                       placeholder="Subir imagen..."
                       (change)="fileChangeEvent($event)"
                       />
                 </div>
              </div>
           </div>
        </div>
     </ng-container>
  </div>
  <div class="modal-footer">
     <input type="submit" class="btn btn-primary" value="Agregar" />
  </div>
  </form>
</ng-template>