<div class="animated fadeIn pt-4">
    <h1 class="mb-3">Reportes del sistema</h1>
    <div class="card">
        <div class="card-body">
            <form action="">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="name">Selecciona la cámara</label>
                            <select class="form-control">
                <option value="1">Cocina</option>
                <option value="2">Sala</option>
                <option value="3">Baño</option>
              </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="name">Selecciona rango de fechas y hora</label>
                            <input type="text" placeholder="" class="form-control" [bsConfig]="{
                  withTimepicker: true,
                  rangeInputFormat: 'MMMM Do YYYY, h:mm:ss a',
                  dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'
                }" bsDaterangepicker />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group"></div>
                        <button class="btn btn-primary w-100 mt-2">Generar Reporte</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5>
                        Del 10/11/2021, 08:00 AM al 14/11/2021, 11:00 AM en cámara "Cocina"
                    </h5>
                    <table class="table table-striped mt-4">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre y apellido</th>
                                <th scope="col">Nivel de confianza</th>
                                <th scope="col">Edad</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                  <div style="display: flex; align-items: center;">
                                    <div class="circle-image mr-2" style="background-image: url('https://image.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg');" ></div>
                                    Alexander De Azevedo
                                  </div>
                                </td>
                                <td>Nivel 2</td>
                                <td>25 años</td>
                                <td><button class="btn btn-primary">Ver grabación</button></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>
                                  <div style="display: flex; align-items: center;">
                                    <div class="circle-image mr-2" style="background-image: url('https://images.unsplash.com/photo-1595152452543-e5fc28ebc2b8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bWVuJTIwcG9ydHJhaXR8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80');" ></div>
                                    Usuario desconocido
                                  </div>
                                </td>
                                <td></td>
                                <td>22 - 28 años</td>
                                <td>
                                  <button class="btn btn-primary">Ver grabación</button>
                                  <button class="btn btn-success">Añadir a nivel de confianza</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>