// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";


@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~ngx-toastr/toastr';

.no-text-msg {
    display: block;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #c8ced3;
}

.camara-background{
    height: 350px;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading-msg {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}
