// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";


@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~ngx-toastr/toastr';

.no-text-msg {
    display: block;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}